body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  margin-top: 25vh;
}
/* ---------- Extend rule ---------- */
.input, form input[type=text], form #input-file, form input[type=submit] {
  background-color: #fff;
  border: 2px solid #dedede;
  border-radius: 3px;
}
/* ---------- Heading ---------- */
h1 {
  font-size: 45px;
  color: #7d0057;
}
/* ---------- Form ---------- */
form {
  text-align: left;
}
form label {
  font-size: 25px;
  margin: 10px;
  color: #4c4c4c;
}
form input[type=text] {
  width: 180px;
  height: 25px;
  padding: 15px;
  font-size: 15px;
}
form input[type=text]:focus {
  color: #7d0057;
  border-color: #7d0057;
}
form input[type=file] {
  display: none;
}
form #input-file {
  display: inline-block;
  width: 180px;
  height: 15px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #b2bec3;
}
form #input-file:hover {
  color: #7d0057;
  border-color: #7d0057;
}
form #submit-button {
  text-align: center;
}
form input[type=submit] {
  width: 110px;
  height: 50px;
  margin-top: 25px;
  color: #b2bec3;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 0 #dbdbdb;
}
form input[type=submit]:hover {
  color: #7d0057;
  border-color: #7d0057;
  box-shadow: 1px 1px 0 #7d0057;
}

