<html>
    <head>
        <title>Strona do uploadowania</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Wgraj plik</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label>Tytuł pliku</label>
            <input type="text" name="title" placeholder="Name file...">
            <br>
            <label>Plik</label>
            <label id="input-file"> Enter Your File
                <input type="file" name="upload" multiple="multiple">
            </label>
            <br>
            <div id="submit-button">
                <input type="submit" value="Wyślij">
            </div>
        </form>
    </body>
</html>